body {
  color: rgb(172, 0, 0);
  background: black;
  margin: 0px;
  font-family: "DM Serif Display", serif;
  margin-bottom: 100px;

}


header {
  border-bottom: solid 2px rgb(238, 0, 131);
  padding: 20px;
  font-size: 32px;
  color: rgb(74, 74, 165);
}

.chamada {
  background: rgb(79, 33, 131);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1 {
  font-size: 34px;
}

p {
  font-size: 17px;
}

.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10px;
｝ 

.categoria {
    padding-left: 20px;
    padding-right: 20px;
  }

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
  }
    .categoria-videos img:hover {
      opacity: 1.0;
      border: 1px solid green;
    }
     .categoria h2 {
        color: rgb (34, 108, 236);
      }